body{
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    font-size: 1rem;
    background-color: rgb(126, 126, 216);
}
nav{
    text-align: left;
}
.navbar{
    height: 1.5rem;
    width: 7rem;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
}
button{
    background-color: rgb(80, 80, 252);
    height: 2rem;
    width: 8rem;
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
}
input{
    background-color: rgb(80, 80, 252);
}